<head>
  <title>TinyApp Login</title>
</head>
<body>
  <h2>TinyApp Login</h2>
    <form method="POST" action="/login" class="form-inline float:right">
      <input class="form-control" type="text" placeholder="Enter Email" name="email">
      <input class="form-control" type="password" placeholder="Password" name="password">
      <input class="btn btn-primary" type="submit" value="Login">
    </form>
</body>