<head>
  <title>TinyApp Regsiter</title>
</head>
<body>

  <form action="/register" method="POST">
    <lable for="email">Email</lable>
    <input id="email" type="email" name="email">
    <lable for="password">Password</lable>
    <input id="password" type="password" name="password">
    <input type="submit" value="Register">
  </form>
</body>